.body-page {
    font-family: sans-serif;
    margin: 0;
}

.container {
    width:1280px;
    margin: auto;
}
.logo {
    margin-top: 0;
    padding-top: 63px;
    margin-bottom: 40px;
}
.logo-link {
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    color: #000000;
}
.accent-color {
    color: #4BCAFF;
}
.menu {
    display: flex;
    padding-left: 0;
    margin: 0;
    justify-content: center;
    background-color:#35444F ;
}
.menu-item:first-child {
    border-left:1px solid #FFFFFF;
}
.menu-item {
    padding: 26px 33px 19px 32px;
    list-style-type: none;
    border-right: 1px solid #FFFFFF;
}
.menu-item:hover {
    background-color: #222F3A;
}
.menu-link {
    font-size:22px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
}
.container-main {
    display: flex;
    padding-top: 49px;
    justify-content:space-between;
}
.main-content {
    width: 885px;
}
.menu-aside {
    list-style-type: none;
    width:344px;
    border:1px solid #000000;
    margin: 0;
    padding: 0;
}
.menu-aside-item {
    padding-top: 26px;
    padding-left: 44px;
    padding-bottom: 25px;
}
.menu-aside-item:hover {
    background-color: #DBDBDB;
    text-align: center;
}
.menu-aside-link {
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: #485863;
}
.menu-aside-item:hover .menu-aside-link {
    color: #000000;

}
.picture-container {
    width:885px;
    height: 529px;
    border: 1px solid #000000;
    margin-bottom: 37px;
    display: flex;
}
.picture {
    transition: transform 0.25s;
    margin: auto;
}
.picture:hover {
    transform: scale(1.1);
}
.paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 40px;
}
.footer {
    padding-bottom: 30px;
}
.container-footer {
    display: flex;
    background-color: #63696E7A;
    align-items: center;
}
.menu-footer {
    list-style-type: none;
    display: flex;
    margin: 0;
}
.menu-footer-item {
    padding: 15px;
    margin-right: 10px;
}
.menu-footer-link {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #0C1927;
}
.menu-footer-link:hover {
    color: #3181A6;
    text-decoration-line: underline;
}
.copyright {
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    color: #010101;
    align-self: center;
    margin-left: 135px;
}

